/* --------------------------------------------------
 * Table of Contents
 *
 *  -> Breakpoints
 *  -> Color Reference
 *  -> Resets
 *  -> Global Styles
 *  -> Forms
 *  -> Structure
 *  -> Navigation
 *  -> Header/Headings
 *  -> Footer
 *  -> Admin
 *  -> 3rd-Party Elements
 *  -> Print
 * -------------------------------------------------- */

/* --------------------------------------------------
 * Breakpoints: 420px, 520px, 640px, 800px
 * -------------------------------------------------- */

/* --------------------------------------------------
 * Color Reference
 *
 * background: #eee
 * main content bg: #fff
 * normal text: #333
 * links: #049
 * headings: #333
 * menu border-bottom: 1px solid #999
 * content borders, image captions: 1px solid #808080;
 * -------------------------------------------------- */

/* --------------------------------------------------
 * Resets
 * -------------------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
/*	list-style: none; */
}
blockquote, q {
	quotes: none;
}
blockquote::before, blockquote::after,
q::before, q::after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------------------------------------------
 * Global Styles
 * -------------------------------------------------- */

html, body {
	background-color: #eee;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	color: #049;
}

a:hover {
	text-decoration: none;
}

blockquote {
	background: #eee;
	border: 1px solid #999;
	border-left: 10px solid #999;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}

blockquote > p:first-child {
	margin-top: 5px;
}

blockquote > p:first-child::before {
	color: #999;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: .25em;
	vertical-align: -0.4em;
}

blockquote > p:last-child {
	margin-bottom: 5px;
}

blockquote > p:last-child::after {
	color: #999;
	content: close-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-left: .25em;
	vertical-align: -0.4em;
}

cite, em {
	font-style: italic;
}

kbd {
	background-color: #fdfdfd;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0.3em;
	font-family: monospace;
	font-size: 1.25em;
	padding: 0.2em;
}

p {
	margin: 20px 0;
}

ol, ul {
	margin: 20px 0;
	padding-left: 30px;
}

ul {
	list-style-type: disc;
}

li > ol, li > ul {
	margin: 0;
}

table {
	margin: 0 auto;
}

th {
	font-weight: bold;
	padding: 5px 10px;
	text-decoration: underline;
}

td {
	padding: 0 10px;
}

.actions {
	clear: right;
	float: right;
	line-height: 2em;
	white-space: nowrap;
}

#content-wrapper > .actions {
	float: right;
	padding-right: 50px;
}

td > .actions {
	float: none;
	text-align: center;
}

.actions > a, .actions > .links > a {
	padding-top: 2px;
	text-decoration: none;
}

.actions > a:hover, .actions > .links > a:hover {
	text-decoration: underline;
}

.add, .delete, .edit {
	background: url(/images/icons.png) no-repeat scroll 0 0 transparent;
	padding-left: 18px;
}

.add {
	background-position: -4px -390px;
}

.delete {
	background-position: -4px -438px;
}

.edit {
	background-position: -4px -414px;
	padding-left: 20px;
}

.error {
	color: #f00;
}

.intro {
	border: 1px solid #999;
	border-radius: 10px;
	font-style: italic;
	padding: 15px;
}

strong, .label {
	font-weight: bold;
}

div.label {
	float: left;
	margin-right: 10px;
}

.loading {
	display: none;
	text-align: center;
}

.loading > img {
	margin: 25px;
}

.actions > .loading > img {
	margin: 5px 35px;
}

.nowrap {
	white-space: nowrap;
}

.path {
	font-style: italic;
}

.status-message {
	box-shadow: 1px 1px 3px #333 !important;
	clear: both;
	padding: 15px 30px !important;
}

.text-center {
	text-align: center;
}

.visible-phone {
	display: none;
}

.visible-phone-portrait {
	display: none;
}

.visible-print {
	display: none;
}

.visible-tablet {
	display: none;
}

.visual {
	border: 1px solid #808080;
	border-radius: 5px;
	box-sizing: border-box;
	display: table;
	margin: 20px auto;
	max-width: 100%;
	padding: 5px;
}

.visual-left {
	float: left;
	margin-right: 20px;
	max-width: 400px;
}

.visual-right {
	float: right;
	margin-left: 20px;
	max-width: 400px;
}

.visual > img, .visual > a > img {
	max-width: 100%;
}

.caption {
	color: #808080;
	font-style: italic;
	font-weight: bold;
	margin: 5px 0;
	text-align: center;
}

.visual + p::before {
	content: '';
	display: block;
	overflow: hidden;
	width: 10em;
}

.visual-left + p::before {
	clear: right;
}

.visual-right + p::before {
	clear: left;
}

@media screen and (max-width: 800px) {
	#content-wrapper > .actions {
		padding-right: 40px;
	}

	td > .actions > a {
		display: inline-block;
		height: 16px;
		overflow: hidden;
		vertical-align: middle;
		width: 0;
	}

	.hidden-tablet {
		display: none !important;
	}

	.visible-tablet {
		display: inherit;
	}
}

@media screen and (max-width: 640px) {
	.hidden-tablet-portrait {
		display: none !important;
	}

	.visual-left, .visual-right {
		float: none;
		margin: 20px auto;
		max-width: 100%;
	}
}

@media screen and (max-width: 520px) {
	#content-wrapper > .actions {
		padding-right: 10px;
	}

	.hidden-phone {
		display: none !important;
	}

	.visible-phone {
		display: inherit;
	}

	.visible-tablet {
		display: none !important;
	}
}

@media screen and (max-width: 420px) {
	.hidden-phone-portrait {
		display: none !important;
	}

	.visible-phone-portrait {
		display: inherit;
	}
}

/* --------------------------------------------------
 * Forms
 * -------------------------------------------------- */

button {
	background-color: #ddd;
	border: 1px outset;
	clear: both;
	color: #000;
	cursor: pointer;
	font-size: .83em;
	height: 20px;
	line-height: 1em;
}

button[type='submit'] {
	margin-right: 15%;
}

fieldset {
	border: 1px solid #808080;
	margin: 10px;
	padding: 10px;
}

legend {
	padding: 0 5px;
}

label {
	display: block;
	float: left;
	font-size: .92em;
	font-weight: bold;
	margin: 1px 10px 4px 0;
	text-align: right;
	width: 145px;
}

input, select, textarea {
	background-color: #f9f9f9;
	border: 1px inset;
	color: #000;
	font-family: sans-serif;
	font-size: .83em;
	margin-top: 5px;
	max-width: 100%;
}

input[type='checkbox'] {
	border: none;
	margin-top: 5px;
}

input[type='checkbox']:first-child {
	float: left;
}

input[type='checkbox'] + label {
	display: block;
	float: none;
	margin: 1px 10px 0 30px;
	text-align: left;
	width: auto;
}

input[type='file'] {
	max-width: 220px;
}

textarea {
	box-sizing: border-box;
	font-size: 1.1em;
	height: 150px;
	width: 100%;
}

textarea[data-html-editor='true'] {
	visibility: hidden;
}

input.error, select.error, textarea.error {
	background-color: #ff9;
}

.form-field {
	overflow: hidden;
}

.form-field > input[type='file'] {
	margin-top: 0;
}

.buttons {
	clear: both;
	padding-top: 20px;
	text-align: center;
}

.actions > form {
	display: none;
}

li > .actions > form > input {
	margin: 9px 0;
}

.actions > form > .buttons {
	padding-top: 0;
}

.actions > form.inline > .buttons {
	display: inline-block;
}

.actions > form.inline > .buttons > button[type="submit"] {
	margin-right: 0;
}

form > .error {
	padding-left: 155px;
}

#Name, #Slug, #Title, #Value, input.long {
	width: 280px;
}

#Summary {
	height: 4em;
}

#slug-gen {
	clear: none;
}

@media screen and (max-width: 800px) {
	label {
		float: none;
		text-align: left;
		width: auto;
	}

	.form-field {
		clear: left;
	}

	#Name, #Slug, #Title, #Value, input.long {
		width: 275px;
	}
}

@media screen and (max-width: 500px) {
	#Name, #Slug, #Title, #Value, input.long {
		width: auto;
	}
}

/* --------------------------------------------------
 * Structure
 * -------------------------------------------------- */

#wrapper {
	font-size: .75em;
	margin: 10px 20px;
}

#content-wrapper {
	left: 0;
	margin: 0 20px 0 180px;
	position: absolute;
	right: 0;
	top: 75px;
}

.sidebar {
	float: left;
}

.content {
	background-color: #fff;
	border: 1px solid #808080;
	border-radius: 10px;
	box-shadow: 2px 3px 5px;
	clear: right;
	line-height: 2em;
	margin: 30px 20px;
	overflow: auto;
	padding: 30px;
}

.content-body {
	clear: both;
	margin: 20px;
	overflow: hidden;
	position: relative;
}

#modal {
	background-color: rgba(238, 238, 238, 0.8);
	display: table;
	height: 100%;
	left: 0;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 100%;
}

#modal-container {
	display: table-cell;
	vertical-align: middle;
}

#modal-busy, #modal-content {
	display: table;
	margin: 0 auto;
	max-width: 80%;
}

#modal-content > .content {
	margin: 0;
}

@media screen and (max-width: 800px) {
	#wrapper {
		margin: 10px;
	}

	#content-wrapper {
		margin-left: 100px;
	}

	.content {
		padding: 20px;
	}

	.content-body {
		margin: 20px 10px;
	}

	#modal-busy, #modal-content {
		min-width: 60%;
	}
}

@media screen and (max-width: 520px) {
	#content-wrapper {
		margin-left: 50px;
	}

	.content {
		margin: 20px 0;
		padding: 10px;
	}
}

/* --------------------------------------------------
 * Navigation
 * -------------------------------------------------- */

.menu {
	clear: left;
	float: left;
	margin: 20px 0 20px 10px;
}

.menu-item {
	background: url(/images/icons.png) no-repeat scroll 0 0 transparent;
	border-bottom: 1px dotted #333;
	color: #333;
	display: block;
	height: 30px;
	line-height: 2.5em;
	margin-top: 5px;
	padding: 2px 10px 7px 53px;
	text-decoration: none;
	vertical-align: middle;
}

.menu-item.selected, .menu-item:hover {
	border-bottom: 1px solid #333;
	font-weight: bold;
}

#navigation {
	position: absolute;
	top: 75px;
}

#menu-primary {
	letter-spacing: 0.1em;
	list-style: none;
	margin-top: 85px;
	padding-left: 7px;
	text-transform: uppercase;
	width: 140px;
}

#menu-about {
	background-position: 15px -157px;
}

#menu-admin {
	background-position: -120px -273px;
}

#menu-contact {
	background-position: 15px -103px;
}

#menu-home {
	background-position: -121px 5px;
}

#menu-logout {
	background-position: 15px -273px;
}

#pagination {
	clear: both;
	font-family: Helvetica;
	overflow: hidden;
	padding: 0 15% 20px;
}

.page-action {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 1px 1px 2px;
	color: #333;
	display: block;
	font-size: 1.1em;
	line-height: 2em;
	padding: 2px 10px;
	text-decoration: none;
}

.page-action:hover {
	box-shadow: 0 0 1px;
}

.page-action[rel='prev'] {
	float: left;
}

.page-action[rel='next'] {
	float: right;
}

@media screen and (max-width: 800px) {
	.menu {
		margin-left: 0;
	}

	.menu-item {
		height: auto;
		line-height: 1.67em;
		padding: 26px 10px 2px;
	}

	#menu-primary {
		margin-top: 80px;
		text-align: center;
		width: 85px;
	}

	#menu-about {
		background-position: 30px -160px;
	}

	#menu-admin {
		background-position: -105px -276px;
	}

	#menu-contact {
		background-position: 30px -106px;
	}

	#menu-home {
		background-position: -106px 2px;
	}

	#menu-logout {
		background-position: 30px -276px;
	}

	#pagination {
		padding: 0 13% 20px;
	}
}

@media screen and (max-width: 520px) {
	.menu {
		margin: 10px 0;
	}

	.menu-item {
		height: 30px;
		line-height: 2.5em;
		margin-top: 0;
		overflow: hidden;
		padding: 2px 0 2px 36px;
	}

	#menu-primary {
		margin-top: 51px;
		overflow: hidden;
		padding: 0;
		width: 35px;
	}

	#menu-about {
		background-position: 6px -156px;
	}

	#menu-admin {
		background-position: -129px -272px;
	}

	#menu-contact {
		background-position: 6px -102px;
	}

	#menu-home {
		background-position: -130px 6px;
	}

	#menu-logout {
		background-position: 6px -272px;
	}

	#pagination {
		font-size: .9em;
		padding: 0 2% 20px;
	}

	.page-action {
		padding: 0 5px;
	}
}

/* --------------------------------------------------
 * Header/Headings
 * -------------------------------------------------- */

h1 {
	border-bottom: 1px dotted #808080;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.2em;
	margin: 0 -10px;
	padding: 0 10px 4px;
}

h2, h3, h4 {
	clear: both;
	font-weight: bold;
}

h2 {
	border-bottom: 1px dotted #808080;
	font-size: 1.17em;
	padding: 0 10px 2px;
}

h1 > a, h2 > a {
	color: #333;
	text-decoration: none;
}

h1 > a:hover, h2 > a:hover {
	color: #000;
}

h3 {
	font-size: 1.08em;
	padding: 0 10px 2px;
}

.heading-addon {
	float: right;
	text-decoration: none;
}

.heading-addon:hover {
	text-decoration: underline;
}

#header {
	line-height: normal;
	margin-bottom: 20px;
	min-height: 65px;
	overflow: hidden;
}

#site-title {
	float: left;
	padding-top: 10px;
	text-align: center;
	width: 300px;
}

#site-name {
	border-bottom: 1px solid #999;
}

#site-name > a {
	color: #333;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 1.9em;
	font-weight: bold;
	letter-spacing: 1.6px;
	text-decoration: none;
}

#site-slogan {
	font-size: 1.17em;
}

@media screen and (max-width: 800px) {
	h1 {
		margin: 0 -8px;
		padding: 0 8px 2px;
	}

	.heading-addon {
		display: block;
		float: none;
		text-align: right;
	}

	#site-title {
		width: 210px;
	}
}

@media screen and (max-width: 520px) {
	h1 {
		margin: 0 -5px;
		padding: 0 5px 2px;
	}

	#header {
		margin-bottom: 0;
	}

	#site-title {
		width: 100%;
	}
}

/* --------------------------------------------------
 * Footer
 * -------------------------------------------------- */

#footer {
	clear: both;
	font-size: .83em;
	height: 30px;
	text-align: center;
}

/* --------------------------------------------------
 * Admin
 * -------------------------------------------------- */

#db-results {
	border: 1px solid #808080;
	max-height: 50em;
	overflow: auto;
	white-space: nowrap;
}

#db-results > table {
/*	width: 100%; */
}

#file-contents {
	height: 22em;
	white-space: pre;
}

/* --------------------------------------------------
 * 3rd-Party Elements
 * -------------------------------------------------- */

/* No 3rd-party elements at this time. */

/* --------------------------------------------------
 * Print
 * -------------------------------------------------- */

@media print {
	html,
	body {
		background-color: white;
	}

	#content-wrapper,
	#wrapper {
		margin: 0;
	}

	#site-title {
		width: 100%;
	}

	.content {
		border: none;
		box-shadow: none;
		margin: 0;
	}

	.hidden-print {
		display: none !important;
	}

	.visible-print {
		display: inherit;
	}
}
